 <form name="myForm" class="form-horizontal">
  <div class="control-group">
    <label class="control-label">纳税人</label>
    <div class="controls">
      <input type="text" ng-model="decl.taxpayer" required />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">应税项目</label>
    <div class="controls">
    <select ng-model="decl.taxObject"  
            ng-options="i for i in taxObjects"></select> 
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">应税金额</label>
    <div class="controls">
      <input type="number" ng-model="decl.taxBasis" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">地址</label>
    <div class="controls">
      <select ng-model="decl.region" ng-options="i for i in regions" ></select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">工程</label>
    <div class="controls">
       <input type="text" name="bldName" ng-model="decl.bld" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">发生日期</label>
    <div class="controls">
    <input type="text"  ng-model="decl.occurDate" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">申报日期</label>
    <div class="controls">
    <input type="text"  ng-model="decl.declDate" />
    </div>
  </div>

   <div class="control-group">
    <label class="control-label">说明</label>
    <div class="controls">
    <input type="text" ng-model="decl.description" />
    </div>
  </div>

  <br>
  <div class="control-group">
    <div class="controls">
      <a href="#/" class="btn">取消</a>
      <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
              class="btn btn-primary">保存</button>
      <button ng-click="destroy()" ng-show="decl.id" class="btn btn-danger">删除</button>
    </div>
  </div>
</form>
