table {
    width: 100%;
    border-collapse: collapse;
}

th,td 
{
    border:1px solid #000;
    height:32px;
    text-align:left;
}

#taxpayer-info td {
    width:25%;
}

#note-label 
{
    width:15%;
    height:100px;
    text-align:center;
}