
<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= decls.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
<input type="text" ng-model="search" class="search-query" placeholder="搜索">
<table class="table ">
  <thead>
  <tr>
    <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
    <th></th>
    <th>编号</th>
    <th>状态</th>
    <th>纳税人</th>
    <th>应税项目</th>
    <th>计税依据</th>
    <th>应纳税额</th>
    <th>地址</th>
    <!-- <th>发生日期</th> -->
    <th>申报日期</th>
    <!-- <th>说明</th> -->
    <th>付款方</th>
 <!-- startFrom:currentPage*pageSize | limitTo:pageSize |
 filter:search | orderBy:'sn' -->
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="decl in decls | startFrom:currentPage*pageSize | limitTo:pageSize" >
    <td>
      <a href="#/edit/{{decl._id}}"><i class="icon-pencil"></i></a>
    </td>
    <td><a href="#/print/{{decl._id}}"><i class="icon-print"></i></a></td>
    <td>{{decl.sn}}</td>
    <td>{{decl.tstatus}}</td>
    <td>{{decl.taxpayer}}</td>
    <td>{{decl.taxObject}}</td>
    <td>{{decl.taxBasis}}</td>
    <td>{{decl.taxes}}</td>
    <td>{{decl.region}}</td>
    <!-- <td>{{decl.occurDate | date:'yyyy-MM-dd'}}</td> -->
    <td>{{decl.declDate | date:'yyyy-MM-dd'}}</td>
    <!-- <td>{{decl.description}}</td> -->
    <td>{{decl.employer}}</td>

  </tr>
  </tbody>
</table>
