<input type="text" ng-model="search" class="search-query" placeholder="搜索">
<table class="table">
  <thead>
  <tr>
    <th><a href="#/decl/new"><i class="icon-plus"></i></a></th>
    <th></th>
    <th>编号</th>
    <th>状态</th>
    <th>纳税人</th>
    <th>应税项目</th>
    <th>计税依据</th>
    <th>应纳税额</th>
    <th>地址</th>
    <!-- <th>发生日期</th> -->
    <th>申报日期</th>
    <!-- <th>说明</th> -->
    <th>付款方</th>

  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="decl in decls | filter:search | orderBy:'sn':true | startFrom:currentPage*pageSize | limitTo:pageSize" >
    <td>
      <a href="#/decl/edit/{{decl._id}}"><i class="icon-pencil"></i></a>
    </td>
    <td><a href="#/decl/print/{{decl._id}}"><i class="icon-print"></i></a></td>
    <td>{{decl._id}}</td>
    <td>{{decl.taxStatus}}</td>
    <td>{{decl.taxpayer}}</td>
    <td>{{decl.taxObject}}</td>
    <td>{{decl.taxBasis}}</td>
    <td>{{decl.taxes}}</td>
    <td>{{decl.region}}</td>
    <!-- <td>{{decl.occurDate | date:'yyyy-MM-dd'}}</td> -->
    <td>{{decl.declDate | date:'yyyy-MM-dd'}}</td>
    <!-- <td>{{decl.description}}</td> -->
    <td>{{decl.employer}}</td>

  </tr>
  </tbody>
</table>
<div class="center">
  <a href="" 
     ng-hide="currentPage == 0" 
     ng-click="currentPage = 0">
    <i class="icon-step-backward"></i>
  </a>
  <a href=""
     ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">
    <i class="icon-chevron-left"></i>
  </a>
  {{currentPage+1}}/{{numberOfPages()}}
  <a href=""
     ng-hide="currentPage >= decls.length/pageSize - 1"
     ng-click="currentPage=currentPage+1">
    <i class=" icon-chevron-right"></i>
  </a>
  <a href="" 
     ng-hide="currentPage == numberOfPages() -1" 
     ng-disabled="currentPage == 0"  
     ng-click="currentPage = numberOfPages() - 1">
    <i class= "icon-step-forward"></i>
  </a>
</div>
