<div>
  <input type="text" id="levy-query" class="search-query" 
	 placeholder=" 请输入纳税申报表编号"
	 ng-model="id"
	 ng-change="change()" />
</div>

<div class="row-fluid" id="levy-container">

  <div class="span5">
    <table class="table table-bordered">
      <tr><td class="my-label">纳税人</td><td>{{levy.taxpayer}}</td></tr>
      <tr><td>联系方式</td><td></td></tr>
      <tr><td>备注</td><td>{{levy.description}}</td></tr>
    </table>

    <form name="new-levy" class="form-horizontal form-bordered">
      <div class="control-group">
	<label class="control-label" style="width:120px;text-align:left;">税票号码</label>
	<div class="controls" style="margin-left:0px;" >
	  <input type="text" ng-model="levy.taxReceiptNo" />
	</div>
      </div>

      <div class="control-group">
	<label class="control-label"  style="width:120px;text-align:left;">纳税日期</label>
	<div class="controls" style="margin-left:0px;">
	  <input type="text"  ng-model="levy.payDate" />
	</div>
      </div>

      <br>
      <div class="control-group">
	<div class="controls">
	  <a href="#/" class="btn">取消</a>
	  <button ng-click="save()" ng-disabled="isClean()"
		  class="btn btn-primary">保存</button>
	</div>
      </div>
    </form>
    
  </div>

  <div class="span7">
    <table class="table table-bordered">
      <tr><th>税种</th><th>应税项目</th><th>计税依据</th><th>税率/征收率</th><th>应纳税额(元)</th></tr>
      <tr ng-repeat="item in levy.taxesDetail">
	<td>{{item.taxClass}}</td>
	<td>{{item.object}}</td>
	<td>{{item.taxBasis}}</td>
	<td>{{item.rate}}</td>
	<td>{{item.taxes}}</td>
      </tr>
      <tr><td>合计</td><td></td><td></td><td></td><td>{{levy.taxes}}</td>
      </tr>
    </table>
  </div>

</div>



