<div class="row-fluid">
  <div class="span5 detail-form">

    <form name="building-new-form" class="form-horizontal ">
      <div class="control-group">
        <label class="control-label">编号</label>
        <div class="controls">
          <input type="text" ng-readonly="true" ng-model="building._id" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">工程名称</label>
        <div class="controls">
          <input type="text" ng-model="building.name" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">建设单位</label>
        <div class="controls">
          <input type="text" ng-model="building.owner"/>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">承建单位</label>
        <div class="controls">
          <input type="text" ng-model="building.contractor"/>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">地址</label>
        <div class="controls">
          <select ng-model="building.region" ng-options="i for i in regions"></select>
        </div>
      </div>

       <div class="control-group">
        <label class="control-label">应税项目</label>
        <div class="controls">
          <select ng-model="building.taxObject" ng-options="i for i in taxObjects"></select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">开工日期</label>
        <div class="controls">
          <input type="text"  ng-model="building.startDate" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">预算金额</label>
        <div class="controls">
          <input type="number"  ng-model="building.budget" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">峻工日期</label>
        <div class="controls">
          <input type="text" id="bld_date" ng-model="bld.finish_date" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">决算金额</label>
        <div class="controls">
          <input type="number" ng-model="building.account" />
        </div>
      </div>

      <br>
      <div class="control-group">
        <div class="controls">
          <a href="#/bld" class="btn">取消</a>
          <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                  class="btn btn-primary">保存</button>
	  <button ng-click="destroy()" ng-show="building._id" class="btn btn-danger">删除</button>
        </div>
        
      </div>

    </form>
  </div>

  <div class="span7" ng-hide="">
    <input type="text" ng-model="search" class="search-query" placeholder="搜索">
    <table class="table">
      <thead>
        <tr>
          <th>发生日期</th>
          <th>计税依据</th>
          <th>应纳税额</th>
          <th>状态</th>
          <th>纳税日期</th>
          <th>税票号码</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bldDecl in bldDecls | filter:search | orderBy:'sn'">
          <td>{{bldDecl.occur_date}}</td>
          <td>{{bldDecl.tax_basis}}</td>
          <td>{{bldDecl.taxes}}</td>
          <td>{{bldDecl.status}}</td>
          <td>{{bldDecl.pay_date}}</td>
          <td>{{bldDecl.tax_certificate_sn}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr><td>合计</td><td></td><td></td><td></td><td></td><td></td></tr>
      </tfoot>
    </table>
  </div>
</div>
